<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SWSDBConnectionString" connectionString="Server=da8b3579-8a66-47a6-a77b-a2b200a97423.sqlserver.sequelizer.com;Database=dbda8b35798a6647a6a77ba2b200a97423;User ID=ikewcjjsiajzjvko;Password=sp5SAvZJubnppngyo4UygWTUhavRo2hPjYdG7ga7FHGdigBg25QBf8CCCjKA8iuA;"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="error.html">
      
    </customErrors>
    
  <authentication mode="Forms">
    <forms loginUrl="Home.aspx" name=".ASPXFORMSAUTH" defaultUrl="Admin/RequestedGrievance.aspx">
    </forms>
  </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
    <location path="Home.aspx">
        <system.web>
            <compilation defaultLanguage="vb" />
            <identity impersonate="true" />
        </system.web>
        <system.webServer>
            <httpRedirect enabled="false" destination="http://10.112.2.167/sws/home.aspx" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>
</configuration>